/* tables */
ul#nav_bar {
margin: 20px;
padding: 0;
list-style: none;
width: 525px;
clear: left:
}

ul#nav_bar {
display: inline;
}

ul#nav_bar li a{
text-decoration: none;
padding: 5px 0;
width: 100px;
background: #485e49;
color: #eee;
float: left;
text-align: center;
border-left: 1px solid #fff;
}

ul#nav_bar li a:hover {
background : #a2b3a1;
color: #000;
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
body {
width: 1100px;
padding: 20px;
background-color: #777884;;
}
#wrap {
padding: 20px;
float: left;
border: 1px solid green;
height: 100%;
background-color: white;
}