# Logs and databases #

*.log
*.sql
*.sqlite
*.pyc
*.py~
*.jinja2~
*.jinja2[cod]
*.pt[cod]
*.txt[cod]
*.pt~
*.txt~
=======
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


a.py
test.py
.jinja2~
*.jinja2[cod]



