{% extends "templates/league/schedule.jinja2" %}

{% block schedule %}
<h1>{{season_year}} - {{game_type}} season</h1>
{% for week, game_list in games %}
<table>
    <caption> Week - {{week}}</caption>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Teams</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for game in game_list %}
        <tr>
            <td>{{game.game_time.date().strftime('%m/%d').lstrip('0')}}</td>
            <td>{{game.game_time.time().strftime('%I:%M %p').lstrip('0')}}</td>
            <td><a href="{{game.url()}}">{{game.away_team.abbr}}@{{game.home_team.abbr}}</a></td>
            <td>{{game.home_score}}-{{game.away_score}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
