<fieldset>
<legend>League Info</legend>
  <ul>
    <li>
      <label for="league_size">owners:</label>
      <input type="number" id="league_size" name="league_size" 
      value="{{league_info['owners']}}"/>
    </li>
    <li>
      <label for="budget">budget:</label>
      <input type="number" id="budget" name="budget" 
     value="{{league_info['budget']}}"/>
    </li>
  </ul>
</fieldset>
