@import url(http://fonts.googleapis.com/css?family=Karla|Habibi|Arimo|Questrial|Princess+Sofia);
table tr th:nth-child(1) {
  width: 15px; }
table tr th:nth-child(2) {
  width: 150px; }
table tr th:nth-child(3) {
  width: 20px; }
table tr th:nth-child(4) {
  width: 20px; }
table tr th:nth-child(5) {
  width: 20px; }
table tr th:nth-child(6) {
  width: 25px; }
table tr th:nth-child(7) {
  width: 15px; }
table tr th:nth-child(8) {
  width: 150px; }

.college {
  color: #293d66; }
