<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>	
	{% block css %} 
    <script src="/static/vendor/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/global.css"/>
    {% endblock %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="wrap">
    <div id="user_stuff">
        <p>
        {% if request.user %}
        <a href="#">{{request.user.display_name}}</a> - <a href="{{request.route_url('apex_logout')}}">Logout</a>
        {% else %}
        <a href="{{request.route_url('apex_login')}}">Login</a> - <a href="{{request.route_url('apex_register')}}">Register</a>
        {% endif %}
        </p>
    </div>
    <div id="container">
      <div id="top">
      </div>
      {% block header %}      
      <header>  
        <div id="logo">
          <p>
            <a href="/"><span id="bizarro">bizarro</span>
                  <span id="sports">sports</span></a>
            {% block breadcrumbs %}
            {% endblock %}
          </p>
        </div>
        <div id="nav">
          {% set links = ['fantasy', 'players', 'scores', 'teams'] %}
          <ul>
          {% for link in links %}
            <li><a href="/{{sport}}/{{league.abbr}}/{{link}}/">{{link}}</a></li>
          {% endfor %}
          </ul>
        </div>
        
      </header>
      {% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% block javascript %}
  {% endblock %}
</body>
</html>
