@import url(http://fonts.googleapis.com/css?family=Karla|Habibi|Arimo|Questrial|Princess+Sofia);
#player_content {
  float: left;
  clear: left; }

#stat_tabs {
  float: left; }
  #stat_tabs ul li {
    float: left;
    margin-right: 40px;
    font-family: Questrial, Helvetica, Arial; }
    #stat_tabs ul li a {
      color: #293d66; }
    #stat_tabs ul li .selected {
      font-weight: bold;
      color: #0c111d; }

#stat_tables {
  margin-top: 15px;
  float: left;
  clear: left; }
  #stat_tables tr td:nth-child(3) {
    width: 50px; }
  #stat_tables tr.parent td:nth-child(3) {
    background-image: url("/static/images/asc.gif");
    background-repeat: no-repeat;
    background-position: right; }
  #stat_tables tr.parent.selected td:nth-child(3) {
    background-image: url("/static/images/desc.gif");
    background-repeat: no-repeat;
    background-position: right; }

.hidden {
  display: none; }
