{% extends "templates/plain.jinja2" %}
{% block title %}Cheatsheet{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/fantasy/cheatsheet.css" />
{% endblock %}
{% block content %}
{% for pos in baselines.keys() %}
    {% set ps = players[pos] %}
    {% include "templates/fantasy/cheatsheet_table.jinja2" %}
{% endfor %}
{% endblock %}
