<table id="player_table">
<thead>
    <tr>
        <th></th>
        <th>Player</th>
        <th>Pos</th>
        <th>Team</th>
        {% for model in models %}
            {% set length = model_abbr_map[model]['fantasy']|length %}
            <th colspan="{{length}}">{{model_abbr_map[model]['prefix']}}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Rk</th>
        <th><input id="player_search"/></th>
        <th>
            <select id="position">
            <option value="">all</option>
            {% for position in positions %}
                <option value="{{position}}">{{position}}</option>
            {% endfor %}
            </select>
        </th>
        <th>
            <select id="team">
            <option value="">all</option>
            {% for team in teams %}
            <option value="{{team.abbr}}">{{team.abbr}}</option>
            {% endfor %}
            </select>
        </th>
        {% for model in models %}
            {% for full, abbr in model_abbr_map[model]['fantasy'] %}
                <th title="{{full}}">{{abbr}}</td>
            {% endfor %}
        {% endfor %}
        <th>Total Points</th>
    </tr>
</thead>
<tbody>
{% for player in players %}
    <tr>
        <td>{{loop.index}}</td>
        <td><a href="{{player['Player'].url()}}">{{player['Player'].person}}</a></td>
        <td>{{player['Player'].position_string()}}</td>
        <td><a href="{{player['Team'].url()}}">{{player['Team'].abbr}}</a></td>
        {% for model in models %}
            {% for full, abbr in model_abbr_map[model]['fantasy'] %}
                {% if player[model_abbr_map[model]['prefix']+'_'+abbr] %}
                    <td>{{player[model_abbr_map[model]['prefix']+'_'+abbr]}}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <td>{{player['fantasy_points']}}</td>
    </td>
{% endfor %}
</tbody>
</table>
