{% extends "templates/games/base_game.jinja2" %}
{% block game_content %}
<h3>{{game.venue[0]}}</h2>
<table>
    <thead>
    <tr>
        <th>Team</th>
        {% for period in range(0, game.num_periods()) %}
        <th>{{period + 1}}</th>
        {% endfor %}
        <th>Totol</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{game.away_team.abbr}}</td>            
            {% for score in game.away_scores %}
            <td>{{score.score}}</td>
            {% endfor %}
            <td>{{game.away_score}}</td>
        </tr>
        <tr>
            <td>{{game.home_team.abbr}}</td>            
            {% for score in game.home_scores %}
            <td>{{score.score}}</td>
            {% endfor %}
            <td>{{game.home_score}}</td>
        </tr>
    </tbody>
</table>

{% if sport == "football" %}
{% include "templates/games/football_game.jinja2" %}
{% elif sport == "basketball"%}
{% include "templates/games/basketball_game.jinja2" %}
{% endif %}
{% endblock %}
