<div id="team_stats">
{% set team_stat_cats = ['passing_first_downs', 'rushing_first_downs', 'penalty_first_downs', 'third_down_attempts', 'third_down_conversions', 'fourth_down_attempts', 'fourth_down_conversions', 'plays', 'yards', 'drives', 'passing_yards', 'passing_attempts', 'passing_completions', 'interceptions', 'sack_total', 'sack_yards', 'rushing_yards', 'rushing_attempts', 'red_zone_attempts', 'red_zone_conversions', 'penalty_total', 'penalty_yards','fumbles_lost', 'defensive_special_teams_tds'] %}
{% if team_stats %}
{% if team_stats[0].team == game.home_team %}
    {% set home_stats = team_stats[0] %}
    {% set away_stats = team_stats[1] %}
{% else %}
    {% set home_stats = team_stats[1] %}
    {% set away_stats = team_stats[0] %}
{% endif %}
    <table>
        <thead>
            <tr>
                <th>Stat</th>
                <th>{{game.away_team}}</th>
                <th>{{game.home_team}}</th>
            </tr>
        </thead>
        <tbody>
            {% for stat_cat in team_stat_cats %}
            <tr>
                <td>{{stat_cat.replace('_', ' ')}}</td>
                <td>{{away_stats[stat_cat]}}</td>
                <td>{{home_stats[stat_cat]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div id='home_stats'>
{% set team=game.home_team %}
{% include "templates/games/football_box_score_stat.jinja2" %}
</div>
<div id='away_stats'>
{% set team=game.away_team %}
{% include "templates/games/football_box_score_stat.jinja2" %}
</div>

