<label for="season">season:</label>
<select id="season" name="season">
  {% for season in league.seasons() %}
    {% set season = season[0] %}
    {% if season_year == season %}
      {% set selected = "selected" %}
    {% else %}
      {% set selected = "" %}
    {% endif %}
    <option value="{{season}}" {{selected}}>
        {{season}}{% if league.abbr == 'nba' %}-{{season+1}}{% endif %}
    </option>
  {% endfor %}
</select>
