{% extends "templates/league/stats.jinja2" %}

{% block stat_table %}
<table class="player_table" id="per_{{stat_type}}">
  <thead>
    <tr>
      {% for cat in base_cats %}
      <th>{{cat}}</th>
      {% endfor %}
      {% for stat_item in stat_items %}
      <th>{{stat_item}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for p in players %}
    <tr>
      <td>{{loop.index}}</td>
      <td><a href="{{p['Player'].url()}}">{{p['Player'].person}}</a></td>
      <td>{{p['Player'].position_string()}}</td>
      <td><a href="{{p['Player'].team.url()}}">{{p['Player'].team.abbr}}</a></td>
      {% for stat_item in stat_items %}
      <td>{{p[stat_item]}}</td>
      {% endfor %}
    </tr>
    {% endfor %}  
  </tbody>
</table>
{% endblock %}
