@import "../colors";
@import "../fonts";

#player_data {
    dl {        
        float: left;
        margin-left: 15px;
        line-height: 20px;
        dt {
            float: left;
            margin-right: 5px;
        }
        dd {
            width: 200px;
            a {
                color: $blue;
            }
        }
    }
}
